{% extends "content.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block subtitle %}Change Password{% endblock %}

{% block grid1 %}4{% endblock %}
{% block grid2 %}4{% endblock %}
{% block content_grid2 %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title"><i class="fa fa-exchange"></i><span class="ml5">Change your password</span></h2>
        </div>
        <div class="panel-body">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
{% block grid3 %}4{% endblock %}