{% extends "content.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block subtitle %}Edit Info{% endblock %}

{% block grid1 %}2{% endblock %}
{% block grid2 %}8{% endblock %}
{% block content_grid2 %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title"><i class="fa fa-user"></i><span class="ml5">Edit User Info</span></h2>
        </div>
        <div class="panel-body">
            <form method="post" class="form" role="form" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <h2>{{ user.username }}</h2>
                            <h6>{{ user.email }}</h6>
                            {% if photo == '' %}
                                <img src="//placehold.it/150" class="avatar img-circle" alt="avatar">
                            {% else %}
                                <img src="{{ photo }}" class="avatar img-circle" alt="avatar">
                            {% endif %}
                            <br>
                            <br>
                            <p><a href="{{ url_for('auth.change_password') }}">Change Password</a></p>
                            <p><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></p>
                        </div>
                    </div>

                    <!-- edit form column -->
                    <div class="col-md-8 personal-info">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form, hiddens="only") }}

                        {{ wtf.form_field(form.complete_name) }}
                        {{ wtf.form_field(form.register) }}
                        {{ wtf.form_field(form.photo) }}
                        {{ wtf.form_field(form.submit) }}
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}
{% block grid3 %}2{% endblock %}