{% extends "content.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block subtitle %}Home{% endblock %}

{% block grid1 %}2{% endblock %}
{% block grid2 %}8{% endblock %}
{% block content_grid2 %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title"><i class="fa fa-tachometer"></i><span class="ml5">Actions</span></h2>
        </div>
        <div class="panel-body">
            {# First line #}
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="{{ url_for('main.upload') }}" class="btn btn-primary btn-lg" role="button">
                        <i class="fa fa-plus-circle fa-3x"></i>
                        <br>
                        New build
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="{{ url_for('main.view_builds') }}" class="btn btn-primary btn-lg" role="button">
                        <i class="fa fa-list-alt fa-3x"></i>
                        <br>
                        View your Builds
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="{{ url_for('auth.edit_info') }}" class="btn btn-primary btn-lg" role="button">
                        <i class="fa fa-user fa-3x"></i>
                        <br>
                        Edit account info
                    </a>                    
                </div>
            </div>

            {# Second line #}
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="{{ url_for('main.ranking1') }}" class="btn btn-primary btn-lg" role="button">
                        <i class="fa fa-star fa-3x"></i>
                        <br>
                        PSNR Ranking
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="{{ url_for('main.ranking2') }}" class="btn btn-primary btn-lg" role="button">
                        <i class="fa fa-star fa-3x"></i>
                        <br>
                        CR Ranking
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="{{ url_for('main.ranking3') }}" class="btn btn-primary btn-lg" role="button">
                        <i class="fa fa-star fa-3x"></i>
                        <br>
                        Time Ranking
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block grid3 %}2{% endblock %}
