{% extends "content.html" %}

{% block head %}
    {{ super() }}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/bootstrap-table.min.css">

{% endblock %}

{% block subtitle %}Ranking{% endblock %}

{% block grid1 %}2{% endblock %}
{% block grid2 %}8{% endblock %}
{% block content_grid2 %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                <i class="fa fa-star"></i>
                {% if ranking==1 %}
                    <span class="ml5">PSNR Ranking</span>
                {% elif ranking==2 %}
                    <span class="ml5">Compression Ranking</span>
                {% else %}
                    <span class="ml5">Time Ranking</span>
                {% endif %}
            </h2>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                {% for build in builds %}
                    <li class="list-group-item">
                        <div class="row display-table">
                            <div class="col-md-1 display-cell">
                                {% if build.author.get_photo() == '' %}
                                    <img src="//placehold.it/150" class="avatar img-circle ranking-avatar" alt="avatar">
                                {% else %}
                                    <img src="{{ build.author.get_photo() }}" class="avatar img-circle ranking-avatar" alt="avatar">
                                {% endif %}
                            </div>
                            <div class="col-md-9 display-cell">
                                <h4>{{ build.author.complete_name }}</h4>
                            </div>
                            <div class="col-md-2 display-cell">
                                <span class="badge sz150 ">{{ "{:.3f}".format(build.get_ranking_value(ranking)) }}</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
{% block grid3 %}2{% endblock %}

{% block scripts %}
    {{ super() }}

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/locale/bootstrap-table-en-US.min.js"></script>
{% endblock %}
