{% extends "content.html" %}

{% block subtitle %}View Log{% endblock %}

{% block page_content %}
{% autoescape false %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">
                <i class="fa fa-binoculars"></i>
                <span class="ml5">View Log</span>                
            </h2>
        </div>
        <div class="panel-body">
            <section>
                {% for line in log_text %}
                    <tt>{{ line | safe}}</tt><br>
                {% endfor %}
            </section>
        </div>
    </div>
{% endautoescape %}
{% endblock %}